@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .flex_admin {
    @apply grid sm:grid-rows-1 sm:grid-cols-[1fr_4fr] 
           md:grid-rows-1 md:grid-cols-[1fr_4fr] 
           lg:grid-rows-1 lg:grid-cols-[1fr_4fr] 
           xl:grid-rows-1 xl:grid-cols-[1fr_4fr];
  }
  .felx_admin_aside{
    @apply flex max-sm:flex-row ultra-sm:flex-row sm:flex-col md:flex-col lg:flex-col;
  }
  .hero_res{
    @apply flex ultra-sm:flex-col max-sm:flex-col sm:flex-col lg:flex-row md:flex-row xl:mx-56 sm:gap-8 md:gap-11 lg:gap-20
  }
}



@media screen and (min-width: 320px) and (max-width: 640px) {
    .mbl_sidebar {
      height: 50px;
      border: 1px solid #fff;
    }
    .flwr{
        flex-wrap: wrap;
    }
   
  }

  
@media screen and (min-width: 320px) and (max-width: 424px) {
.step-img{
  margin: 0 auto;
    width: 75%;
   
}
.step-img-box::before {
  width: 95%;
  padding-bottom: 95%;

}

.step-img-box::after {
  width: 80%;
  padding-bottom: 80%;

}
  }

  
@media screen and (min-width: 425px) and (max-width: 639px) {
.step-img{
  margin: 0 auto;
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 640px) and (max-width: 1024px) {
.step-img{
    width: 75%;
  margin: 0 auto;

   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
/*   

@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  } */

