
.hero-section{
    background-color: #293343;
}
ul ,h1,label {
    color:#bdc8e7

}

h4{
    color: #858fad
}
p{
    color: #99a1ac;
}
small{
    color: #a9a9a9;
}
em{
    color: #367375;
}
@media screen and (min-width: 320px) and (max-width: 640px) {
    .mbl_sidebar {
      height: 50px;
      border: 1px solid #fff;
    }
    .flwr{
        flex-wrap: wrap;
    }
  }
  