
.hero-section{
    background-color: #1f2735;
}
ul ,h1,label {
    color:#bdc8e7

}

h4{
    color: #858fad
}
p{
    color: #99a1ac;
}
small{
    color: #a9a9a9;
}
em{
    color: #367375;
}

.tans_in img{

    transition:transform 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.tans_in:hover img{
    transform: scale(1.1);

}


  
  .nav_active{
    color: #fff;
    padding-bottom: 0.5px;
    border-bottom: 1px solid;
  }
.step-img{
    width: 30%;
    z-index: 3;
    border-radius: 50%;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 50%;
  padding-bottom: 50%;
  background-color: rgba(95,107,120,0.2);
  z-index: 1;
}

.step-img-box::after {
  width: 40%;
  padding-bottom: 40%;
  background-color: #4c5560;
  z-index: 2;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .mbl_sidebar {
      height: 50px;
      border: 1px solid #fff;
    }
    .flwr{
        flex-wrap: wrap;
    }
   
  }

  
@media screen and (min-width: 320px) and (max-width: 424px) {
.step-img{
    width: 60%;
   
}
.step-img-box::before {
  width: 95%;
  padding-bottom: 95%;

}

.step-img-box::after {
  width: 80%;
  padding-bottom: 80%;

}
  }

  
@media screen and (min-width: 425px) and (max-width: 639px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 640px) and (max-width: 1024px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
/*   

@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  }
  
  
@media screen and (min-width: 320px) and (max-width: 640px) {
.step-img{
    width: 75%;
   
}
.step-img-box::before {
  width: 105%;
  padding-bottom: 105%;

}

.step-img-box::after {
  width: 90%;
  padding-bottom: 90%;

}
  } */