
.hero-section,.nav_container{
    background-color: #3b4759;
}
ul ,h1,label {
    color:#bdc8e7

}

h4{
    color: #858fad
}
p{
    color: #99a1ac;
}
small{
    color: #a9a9a9;
}
em{
    color: #367375;
}
li:after {
    content: ", ";
}
li:last-child:after {
    content: "";
}