/* Modal backdrop with transition */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Fade-in effect */
}

.modal-backdrop.active {
  visibility: visible;
}

/* Modal content with transition */
.modal-content_load {
  background-color: #3b4759;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  min-height: 20px;
  position: relative;
  transform: scale(0.8); /* Start with smaller scale */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Fade-in and scale-up effect */
  z-index: 4;
}
.modal-content {
  background-color: #3b4759;
  padding: 20px;
  max-width: 500px;
  border-radius: 8px;
  width: 80%;
  min-height: 250px;
  position: relative;
  transform: scale(0.8); /* Start with smaller scale */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Fade-in and scale-up effect */
}
.modal-content.active {
  transform: scale(1); /* Scale to normal size */
}
.form_modalContent{
  padding: 35px;
  max-width: 600px;
}
/* Close button styling and position */
.cls-btn{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,180%);
}

.modal_footer{
  padding: 16px 20px;
    position: absolute;
    border-top: 1px solid #444c56;

    bottom: 0;
    right: 100%;
    left: 50%;
    transform: translate(-150%, 0%);
}
.modal_footers{
  padding: 16px 20px;
  border-top: 1px solid #444c56;
  display: flex;
  justify-content: center;
  gap: 15px;
}
select option{
  background-color: #3b4759;
}


option:hover{
  background: red !important;
}
